# Configuración del servidor
NODE_ENV=development
PORT=3000

# Conexión a MongoDB Atlas
MONGODB_URI=mongodb+srv://USUARIO:CONTRASENA@cluster0.xxxxx.mongodb.net/mercapp?retryWrites=true&w=majority

# Orígenes permitidos para CORS
FRONTEND_URL=http://localhost:5173
NETLIFY_URL=https://tu-sitio.netlify.app
